
.mainContainer {
  min-height: 100vh !important;
  max-width: 100vw !important;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  color: white;
  font-family: 'Roboto';
}

.bodyContainer {
  margin-top: 50px;
  width: 100%;
}


.rowHeader {
  justify-content: center;
  font-size: 40px;
}


.leftCol {
  width: 25% !important;
  justify-content: center;
  align-items: center;
}

.rightCol {
  width: 25% !important;
  justify-content: center;
  align-items: center;
}

.midCol {
  width: 50% !important;
}

.leftCard {
  width: 100%;
  background-color: #252526;
  border-color: #252526 !important;
}

.rightCard {
  width: 100%;
  background-color: #252526;
  border-color: #252526 !important;
}

.midCard {
  width: 100%;
  background-color: #252526;
  border-color: #252526 !important;
  text-align: center;
}

.cardBody {
  background-color: #252526;
}

.cardText {
  background-color: #252526;
  color: white;
}


